.globeHolder {
  /* border-left: 1pt lightgrey solid;
    border-bottom: 1pt lightgrey solid; */
  position: fixed;
  top: calc(4rem + 10px);
  right: 10px;
  /* border: 2pt red solid; */
  width: 200px;
  height: 200px;
}

.globeHolder.mobile {
  display: none;
}

.mapHolder {
  border: grey 3pt solid !important;
  border-radius: 5px;
  width: 450px;
  height: 250px;

  /* margin-bottom: 30vh; */
}
