.globeHolder {
  /* border-left: 1pt lightgrey solid;
    border-bottom: 1pt lightgrey solid; */
  position: fixed;
  top: calc(4rem + 5px);
  right: 5px;
  /* border: 2pt red solid; */
}

.mapHolder {
  border: grey 3pt solid;
  border-radius: 5px;
  width: 350px;
  height: 250px;
}
