.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-between;
  /* border: 2pt darksalmon solid; */
  height: 100vh;
}

h1 {
  font-family: 'Roboto Slab', serif;
}
